.ps-font {
    font-family: 'Press Start 2P', cursive;
    src:url("Press_Start_2P/PressStart2P-Regular");
    text-transform: uppercase;
    text-shadow: 4px 4px #111;
    padding-top: 15px;
  }
.div-home{
    padding-left: 230px;
    padding-top: 90px;
    padding-bottom: 15px;
    font-size: 15px;
}
.body-register {
	margin-top: 100px;
}

